* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: $fonte-principal;
    color: #333;
    background-color: $cor-fundo;
    line-height: 1.6;
    font-size: $tamanho-base;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h1, h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  